# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
*.log
/media/
/staticfiles/
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Test / cache
.pytest_cache/
.ruff_cache/
/backups/
/tax_inbox/

# Qo'shimcha virtual muhitlar
.venv*/

# TLS kalitlari hech qachon repoga tushmasin
docker/certs/*.pem
docker/certs/*.key
